<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    integrity="sha383-Gn5383xqQ1aoWXA+058RXPxPg6fy9IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="a9onymo9s"
  />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>App Chat</title>
</head>
